{% extends 'admin_base.html.twig' %}

{% block title %}
    Product Edit {{ sku }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .isDisabled {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit Product</h1>
                <p>
                    <a href="{{ path('gt.catalog.product_categories_edit_form', {sku:sku}) }}">Edit categories</a><br>
                    <a href="{{ path('gt.catalog.product_pictures', {sku:sku}) }}">Edit pictures</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Select language to edit:<br>
                {% for l in languages %}
                    {% if l.code==languageCode %}
                        <spam>{{ l.code }}</spam>
                    {% else %}
                        <a href="{{ path('gt.catalog.product_edit', {sku: sku, languageCode: l.code }) }}">{{ l.code }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                {% if message is not empty %}
                    <h3 style="color:red">{{ message }}</h3>
                {% endif %}
                <ul>
                    {% for m in messages %}
                        <li style="color:red">{{ m }}</li>
                    {% endfor %}
                </ul>

                {% if suggestions | length > 0 %}
                    Suggestions for categories:
                    <ul>
                        {% for s in suggestions %}
                            {% if s.suggestions is defined %}
                                <li style="color:blue">
                                    {{ s.correctCode }}:
                                    {% for code in s.suggestions %}
                                        {{ code }},
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% include '@Catalog/products/edit_form.html.twig' %}

                <div class="text-right mb-4">
                    <a class="btn-outline-primary btn" id="pdf_button" href="{{ pdfUrl }}">View label pdf</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#product_form_pl_label').keyup( function(){
                disableViewPdfButton()
            });

            $('#product_form_pl_label_size').keyup( function(){
                disableViewPdfButton()
            });

            $("#pdf_button").on("click", function(event){
                if ($(this).attr("disabled") == 'disabled' ) {
                    event.preventDefault();
                }
            });
        });

        function disableViewPdfButton() {
            var jq_pdf_button = $("#pdf_button");

            jq_pdf_button.attr("disabled", "disabled");
            jq_pdf_button.removeClass("btn-primary");
            jq_pdf_button.addClass("btn-outline-secondary");
            jq_pdf_button.addClass("isDisabled");
            jq_pdf_button.text('View label pdf: save to enable');
        }
    </script>
{% endblock  javascripts %}
