{% extends 'admin_base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans %}Products list{% endtrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><a href="{{ path('gt.catalog.import_products_form') }}">Import</a></div>
        <div class="col-md-12">
            {{ form(filterForm) }}
        </div>
        <div class="col-md-12">
            Similar categories:
            {% for cl in categoriesLanguages %}
                <span>{{ cl.code }} : {{ cl.name }}</span> |
            {% endfor %}
        </div>
        <div class="col-md-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans %}SKU{% endtrans %}</th>
            <th>{% trans %}Last update{% endtrans %}</th>
            <th>{% trans %}version{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Brand{% endtrans %}</th>
            <th colspan="3">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
{% for p in products %}
    <tr>
        <td>{{ p.sku }}</td>
        <td>{{ p.lastUpdate | date('Y-m-d H:i:s') }}</td>
        <td>{{ p.version }}</td>
        <td>{{ p.extractedName }}</td>
        <td>{{ p.brand }}</td>
        <td><a href="{{ path('gt.catalog.product_edit', {sku: p.sku, languageCode: languageCode }) }}">Edit</a></td>
        <td><a href="{{ path('gt.catalog.product_pictures', {sku: p.sku }) }}">Pictures</a></td>
        <td><a href="{{ path('gt.catalog.product_categories_edit_form', {sku: p.sku }) }}">Categories</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}