<form action="{{ path('gt.catalog.product_list') }}" method="get" id="filterForm" class="filter-form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(filterForm.likeSku, 'Like SKU') }}
                {{ form_widget(filterForm.likeSku, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(filterForm.likeName, 'Like Name') }}
                {{ form_widget(filterForm.likeName, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(filterForm.dateFrom, 'Date From') }}
                {{ form_widget(filterForm.dateFrom, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(filterForm.dateTill, 'Date To') }}
                {{ form_widget(filterForm.dateTill, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(filterForm.brand, 'Brand') }}
                {{ form_widget(filterForm.brand, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(filterForm.category, 'Category') }}
                {{ form_widget(filterForm.category, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(filterForm.noLabel, { 'attr': {'class': 'form-check-input'} }) }}
                {{ form_label(filterForm.noLabel, 'No Label', { 'label_attr': {'class': 'form-check-label'} }) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" id="products_filter_csv" name="products_filter[csv]" class="btn btn-secondary btn">
                Download CSV
            </button>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" id="searchButton" type="submit" form="filterForm">Search</button>
            <a href="{{ path('gt.catalog.product_list') }}" class="btn btn-outline-dark">Clear</a>
        </div>
    </div>
</form>
