{% extends 'admin_base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Products list</h1>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <a href="{{ path('gt.catalog.import_products_form') }}" class="btn btn-primary">Import Products</a>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary" type="button"
                        data-toggle="collapse"
                        data-target="#filterCollapse"
                        aria-expanded="{{ isFilterFormSubmitted ? 'true' : 'false' }}"
                        aria-controls="filterCollapse" id="filterButton">
                    Show Filters
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="collapse {{ isFilterFormSubmitted ? 'show' : '' }}" id="filterCollapse">
                    {% include '@Catalog/products/list_filter_form.html.twig' %}
                </div>
            </div>
        </div>

        {% if categoriesLanguages is not empty %}
            <div class="row">
                <div class="col-md-12">
                    Similar categories:
                    {% for cl in categoriesLanguages %}
                        <span>{{ cl.code }} : {{ cl.name }}</span> |
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10%">SKU</th>
                            <th style="width: 20%">Last Update</th>
                            <th style="width: 5%" title="Version">Ver.</th>
                            <th style="width: 35%">Name</th>
                            <th style="width: 15%">Brand</th>
                            <th style="width: 15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                            <tr>
                                <td>{{ p.sku }}</td>
                                <td>{{ p.lastUpdate | date('Y-m-d H:i:s') }}</td>
                                <td>{{ p.version }}</td>
                                <td>{{ p.extractedName }}</td>
                                <td>{{ p.brand }}</td>
                                <td>
                                    <a href="{{ path('gt.catalog.product_edit', {sku: p.sku, languageCode: languageCode }) }}"
                                       class="btn btn-link p-1"
                                       title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('gt.catalog.product_pictures', {sku: p.sku }) }}"
                                       class="btn btn-link p-1"
                                       title="Pictures">
                                        <i class="fas fa-image"></i>
                                    </a>
                                    <a href="{{ path('gt.catalog.product_categories_edit_form', {sku: p.sku }) }}"
                                       class="btn btn-link p-1"
                                       title="Categories">
                                        <i class="fas fa-list"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
