{% extends 'base.html.twig' %}

{# TODO paieškos forma ir pavadinimo rodymas #}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ form(filterForm) }}
        </div>
        <div class="col-md-12">
<table>
{% for p in products %}
    <tr>
        <td>{{ p.sku }}</td>
        <td>{{ p.lastUpdate | date('Y-m-d H:i:s') }}</td>
        <td>{{ p.version }}</td>
        <td>{{ p.extractedName }}</td>
        <td><a href="{{ path('gt.catalog.product_edit', {sku: p.sku, languageCode: languageCode }) }}">Edit</a></td>
    </tr>
{% endfor %}
</table>
        </div>
    </div>
</div>
{% endblock %}