{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12"><a href="{{ path('gt.catalog.import_products_form') }}">Import</a></div>
        <div class="col-md-12">
            {{ form(filterForm) }}
        </div>
        <div class="col-md-12">
<table>
{% for p in products %}
    <tr>
        <td>{{ p.sku }}</td>
        <td>{{ p.lastUpdate | date('Y-m-d H:i:s') }}</td>
        <td>{{ p.version }}</td>
        <td>{{ p.extractedName }}</td>
        <td><a href="{{ path('gt.catalog.product_edit', {sku: p.sku, languageCode: languageCode }) }}">Edit</a></td>
        <td><a href="{{ path('gt.catalog.product_pictures', {sku: p.sku }) }}">Pictures</a></td>
    </tr>
{% endfor %}
</table>
        </div>
    </div>
</div>
{% endblock %}