{% extends 'admin_base.html.twig' %}
{% block title %}
    Product {{ product.sku }} pictures
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Product <a href="{{ path('gt.catalog.product_edit', {sku:product.sku, languageCode:'en'}) }}">{{ product.sku }}</a> pictures list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">


            <a href="{{ path( 'gt.catalog.product_pictures_add_form', {sku: product.sku} ) }}">add</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>picture id</th>
                    <th>picture name</th>
                    <th>image</th>
                    <th>status</th>
                    <th>info provider</th>
                    <th>reference</th>
                    <th>priority</th>
                    <th>actions</th>
                </tr>
                </thead>

                {% for pp in pps %}
                    <tr>
                        <td>{{ pp.picture.id }}</td>
                        <td>{{ pp.picture.name }}</td>
                        <td><img  style="max-width: 200px; max-height: 200px;"
                                  alt="{{ pp.picture.name }}"
                                  src="{{ pp.picture.configuredPath }}"
                            /></td>
                        <td>
                            {{ pp.picture.statusas }}
                        </td>
                        <td>
                            {{ pp.picture.infoProvider }}
                        </td>
                        <td>
                            {{ pp.picture.reference }}
                        </td>
                        <td>
                            {{ pp.priority }}
                        </td>
                        <td><a href="{{ path('gt.catalog.product_picture_edit', {sku: pp.product.sku, id_picture: pp.picture.id }) }}">Edit</a></td>
                        <td><a onclick="return confirm('delete picture id={{ pp.picture.id }}?')" href="{{ path('gt.catalog.product_picture_delete', {sku: pp.product.sku, id_picture: pp.picture.id }) }}">X</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}