{% extends 'admin_base.html.twig' %}
{% block title %}
    Product {{ product.sku }} pictures
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{ product.sku }}

            <a href="{{ path( 'gt.catalog.product_pictures_add_form', {sku: product.sku} ) }}">add</a>
            <table>
                {% for pp in pps %}
                    <tr>
                        <td>{{ pp.picture.id }}</td>
                        <td>{{ pp.picture.name }}</td>
                        <td><img  style="max-width: 200px; max-height: 200px;"
                                  alt="{{ pp.picture.name }}"
                                  src="{{ pp.picture.configuredPath }}"
                            /></td>
                        <td><a href="{{ path('gt.catalog.product_picture_edit', {sku: pp.product.sku, id_picture: pp.picture.id }) }}">Edit</a></td>
                        <td><a href="{{ path('gt.catalog.product_picture_delete', {sku: pp.product.sku, id_picture: pp.picture.id }) }}">X</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}