{% extends 'admin_base.html.twig' %}

{% block title %}
    Assigned products
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Assigned products{% endtrans %} <a href="{{ path('gt.catalog.categories', {search_category: code}) }}">{{ code }}</a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% set i=0 %}
                    {% for pp in pps %}
                        {% set i=i+1 %}
                        <li>[{{ i }}] <a href="{{ path('gt.catalog.product_edit', {sku:pp.product.sku, languageCode:'en' }) }}">{{ pp.product.sku }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}