{% extends 'admin_base.html.twig' %}

{% block title %}
    Category Edit {{ code }} {{ languageCode }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans %}Edit category{% endtrans %}: {{ code }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for l in languages %}
                {% if l.code==languageCode %}
                    <spam>{{ l.code }}</spam>
                {% else %}
                    <a href="{{  path('gt.catalog.category_edit', {code: code, languageCode: l.code }) }}">{{ l.code }}</a>
                {% endif %}
            {% endfor  %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form(categoryForm) }}
        </div>
    </div>
</div>
{% endblock %}