{% extends '@Catalog/components/base_filter_form.html.twig' %}

{% set formAction = path('gt.catalog.categories') %}
{% set clearPath = path('gt.catalog.categories') %}

{% block top_left_buttons %}
    <a class="btn btn-primary" href="{{ path('gt.catalog.import_categories_form') }}">Import</a>
    <a class="btn btn-primary" href="{{ path('gt.catalog.categories_tree') }}">Show Tree</a>
{% endblock %}

{% block first_column_filter_fields %}
    <div class="form-group">
        {{ form_label(filterForm.language, 'Language') }}
        {{ form_widget(filterForm.language, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(filterForm.likeCode, 'Like Code') }}
        {{ form_widget(filterForm.likeCode, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endblock %}

{% block second_column_filter_fields %}
    <div class="form-group">
        {{ form_label(filterForm.likeParent, 'Like Parent') }}
        {{ form_widget(filterForm.likeParent, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(filterForm.exactParent, 'Exact Parent') }}
        {{ form_widget(filterForm.exactParent, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endblock %}

{% block third_column_filter_fields %}
    <div class="form-group">
        {{ form_label(filterForm.limit, 'Limit') }}
        {{ form_widget(filterForm.limit, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(filterForm.offset, 'offset') }}
        {{ form_widget(filterForm.offset, { 'attr': {'class': 'form-control'} }) }}
    </div>
{% endblock %}
