{% extends 'admin_base.html.twig' %}
{% block title %}
    Categories list
{% endblock %}
{% block body %}
    <h1>
        {% trans %}Categories{% endtrans %}
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12"><a href="{{ path('gt.catalog.import_categories_form') }}">Import</a></div>
            <div class="col-md-12">
                {{ form(filterForm) }}
            </div>
            <div class="col-md-12">
                <table class="table table-bordered" >
                    <tr>
                        <th>Code</th>
                        <th>Parent code</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    {% for cl in categoriesLanguages %}
                        <tr>
                            <td>{{ cl.category.code }}</td>
                            <td>{{ cl.category.parentCode }}</td>
                            <td>{{ cl.name }}</td>
                            <td>{{ cl.description }}</td>
                            <td><a href="{{ path('gt.catalog.category_edit', {code: cl.category.code, languageCode: languageCode}) }}">Edit</a></td>
                        </tr>
                    {% endfor %}
{#                    {% for p in products %}#}
{#                        <tr>#}
{#                            <td>{{ p.sku }}</td>#}
{#                            <td>{{ p.lastUpdate | date('Y-m-d H:i:s') }}</td>#}
{#                            <td>{{ p.version }}</td>#}
{#                            <td>{{ p.extractedName }}</td>#}
{#                            <td><a href="{{ path('gt.catalog.product_edit', {sku: p.sku, languageCode: languageCode }) }}">Edit</a></td>#}
{#                            <td><a href="{{ path('gt.catalog.product_pictures', {sku: p.sku }) }}">Pictures</a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
                </table>
            </div>
        </div>
    </div>
{% endblock %}