<!DOCTYPE html>
<html lang="lt">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">        {% endblock %}
    </head>
    <body>
    {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">{% trans %}Products catalog{% endtrans %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.classificator_groups') }}">{% trans %}Classificator groups{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.classificators') }}">{% trans %}Classificators{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.languages') }}">{% trans %}Languages{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.job_list') }}">{% trans %}Images import jobs{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.product_list') }}">{% trans %}Products{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.categories') }}">{% trans %}Categories{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.users_list') }}">{% trans %}Users{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.brands') }}">{% trans %}Brands{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gt.catalog.product_log') }}">{% trans %}Logs{% endtrans %}</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('gt.catalog.images_meta_import_form') }}">{% trans %}Pictures meta{% endtrans %}</a>#}
{#                    </li>#}
                </ul>
{#                <form class="form-inline my-2 my-lg-0">#}
{#                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#                </form>#}
                <div>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{#                        {{ dump(app.user) }}#}
                        {{ app.user.email }}
                        <a href="/logout">Logout</a>
                        {% else %}
                            <a href="/login">Login</a>
                    {% endif %}
                    {% if app.user is not empty %}
                        <a href="{{ path( 'gt.catalog.users_edit', {id:app.user.id}) }}">Edit</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#filterButton').click(function() {
                        var buttonText = $(this).text();
                        var filterCollapse = $('#filterCollapse');

                        if (filterCollapse.hasClass('show')) {
                            $(this).text('Show Filters');
                        } else {
                            $(this).text('Hide Filters');
                        }
                    });

                    $('#filterForm').on('keydown', function(event) {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                            $('#searchButton').click();
                        }
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
