{% extends 'admin_base.html.twig' %}

{% block title %}Pictures jobs list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Pictures import job{% endtrans %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form(filterForm) }}
            </div>
            <div class="col-md-12">
                <div>
                    <a href="{{ path('gt.catalog.job_add_form') }}">Add</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>{% trans %}created at{% endtrans %}</th>
                            <th>{% trans %}name{% endtrans %}</th>
                            <th>{% trans %}status{% endtrans %}</th>
                            <th>{% trans %}finish time{% endtrans %}</th>
                            <th>{% trans %}total pictures{% endtrans %}</th>
                            <th>{% trans %}imported pictures{% endtrans %}</th>
                            <th>{% trans %}actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    {% for j in jobs %}
                        <tr>
                            <td>{{ j.id }}</td>
                            <td>{{ j.createdTime | date ('Y-m-d H:i' ) }}</td>
                            <td>{{ j.name }}</td>
                            <td>{{ j.status }}</td>
                            <td>{% if j.finishedTime is not empty %} {{ j.finishedTime | date ('Y-m-d H:i' ) }}{% else %}-{% endif %}</td>
                            <td>{{ j.totalPictures }}</td>
                            <td>{{ j.importedPictures }}</td>
                            <td><a href="{{ path('gt.catalog.job_view', {id:j.id} ) }}">View (Edit?)</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}